body {
    background-image: radial-gradient(#48839e, #163153);
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  }
  
  #text {
    background-color: #163153;
    color: #0071bc;
    text-shadow: 0px 0px 10px #0071bc;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
  }
  
  #game {
    max-width: 900px;
    max-height: 800px;
    background-image: linear-gradient(#48839e, #163153);
    color: #0071bc;
    margin: 30px auto 0px;
    padding: 10px;
    border: 2px solid #48839e;
    border-radius: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #163153;
    padding: 5px;
    color: #163153;
  }

  #controls{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #stats{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  #enemyStats {
    border: 1px solid #163153;
    padding: 10px;
    color: #ffffff;
    background-color: #48839e;
    margin-bottom: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
  }
  
  .stat {
    padding-right: 10px;
    color: #163153;
  }

  #xpText, #goldText, #healthText{
    color: #fff;
    font-weight: 800;
  }
  
  button {
    cursor: pointer;
    color: #163153;
    background-color: #48839e;
    background-image: linear-gradient(#48839e, #0071bc);
    border: 1px solid #163153;
    padding: 20px;
    border-radius: 10px;
  }

  button:hover{
    background-image: linear-gradient(#0071bc, #48839e);
  }

  .inheader-emo{
    font-size: 84px;
  }

  #welc_text{
    font-size: 30px;
    color: #fff;
  }

  .intext-emo{
    font-size: 77px;
  }

  .celebrate{
    text-align: center;
    max-width: 500px;
    margin: auto;
  }

  .celebrate img{
    width: 300px;
    height: 300px;
    margin: auto;
  }



  /*Initial Release(Version 1.0.0)*/